!!!
%html
	%head
		%title Kcal
		= stylesheet_link_tag :application, :media => "all"
		= javascript_include_tag :application
		= csrf_meta_tags
	%body
		.navbar.top-panel
			.navbar-inner
				.span2
					%h1
						= link_to "getKcal", root_path, class: "site-logo"
				%ul.nav.nav-pills#main-menu
					%li.active= link_to "Home", root_path
					%li= link_to "Items", products_path
					%li= link_to "About", products_path
					%li= link_to "Contact", products_path
					%li.social-login
						Log in with:
						= link_to '', '/auth/facebook', class: 'facebook-login-button'
						= link_to '', '/auth/twitter', class: 'twitter-login-button'
		.container				
			.row
				.span12
					= yield