!!!
%html
	%head
		%title Kcal
		= stylesheet_link_tag :application, :media => "all"
		= javascript_include_tag :application
		= csrf_meta_tags
	%body
		.navbar.top-panel
			.navbar-inner
				.span2
					%h1
						= link_to "getKcal", root_path, class: "site-logo"
				%ul.nav.nav-pills#main-menu
					%li{ class: active_link?('products', 'index') }= link_to "Home", root_path
					%li= link_to "My dishes", products_path if current_user
					%li{ class: active_link?('pages', 'about') }= link_to "About", about_path
					%li{ class: active_link?('pages', 'contact') }= link_to "Contact", contact_path
					- if current_user
						%li= link_to 'Sign Out', signout_path
					- else
						%li.dropdown
							%a.authentication-toggle{ href: "#"}
								Authenticate
								%span.caret
				%ul.authenticate-dropdown-menu
					%li
						Sign in with:
						= link_to '', '/auth/facebook', class: 'facebook-login-button', title: 'Sign in with your Facebook account'
						= link_to '', '/auth/twitter', class: 'twitter-login-button', title: 'Sign in with your Twitter account'
						%span.conjunction or
						%form.form-inline.layout-login
							%input.input-small{ type: 'text', placeholder: 'E-mail'}
							%input.input-small{ type: 'password', placeholder: 'Password'}
							%input.btn{ type: 'submit', value: 'Sign in' }
					%li
						Don't have an account yet?
						= link_to "Create one!", products_path, title: 'Create an account'
		.container				
			.row
				.span12
					= yield